enable-module-update = true # set this to false if you do not want to receive updates for the module
parallel-jobs = 1

# add 'enabled = false' for not patching a specific app or remove it from the config
# see https://github.com/j-hc/revanced-magisk-module/blob/main/CONFIG.md for more detailed explanations

# you can use rvmm-config-gen to generate a config

[Youtube-Morphe]
apkmirror-dlurl = "https://www.apkmirror.com/apk/google-inc/youtube"
uptodown-dlurl = "https://youtube.en.uptodown.com/android"
archive-dlurl = "https://archive.org/download/jhc-apks/apks/com.google.android.youtube"
cli-source = "MorpheApp/morphe-cli"
patches-source = "MorpheApp/morphe-patches"
integrations-source = "anddea/revanced-integrations"
rv-brand = "Morphe"
patches-version = "dev"
included-patches = "'Hide Shorts dimming'"
excluded-patches = """
    'Ambient mode control' \
    'Change player flyout menu toggles' \
    'Enable gradient loading screen' \
    'Miniplayer'
    'Translations for YouTube' \
    'Voice Over Translation' \
"""

patcher-args = """
    -e 'Custom branding name for YouTube' -OappName='Youtube Morphe' \
    -e 'Custom branding icon for YouTube' -OappIcon=vanced_black \
    -e 'Custom Shorts action buttons' -OiconType=outline \
    -e 'Force player buttons background' -OBackgroundColor=@android:color/transparent \
    -e 'Overlay buttons' -OiconType=bold -OchangeTopButtons=true -ObottomMargin=5.0dip \
    -e 'Theme' -OdarkThemeBackgroundColor=@android:color/black \
    -e 'Settings for YouTube' -OinsertPosition=@string/pair_with_tv_key -OrvxSettingsLabel='ReVanced Extended' \
"""
